body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* background-image: linear-gradient(to right, rgb(95, 255, 151), rgb(95, 255, 253)); */
}
.header {
    background-color: grey;
    text-align: center;
}

.area {
    width: 30%;
    height: 500px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.area-header {
    text-align: center;
    border-bottom: 1px solid rgba(50,50,50,0.5);
}

#main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

#add-task-container {
    padding: 10px 0 10px 0;
    background-color: grey;
    margin-bottom: 10px;
}

input[type="text"] {
    font-size: 20px;
}

ul {
    list-style-type: none;
    font-size: 18px;
}